section {
    display: flex;
    align-items: left;
}
nav #logo {
    display: flex;
    justify-content: space-around;
    height: 25px;
    width: 25px;
}
#size {
    align-items: center;
    float: left;
}
#size {
    height: 35px;
    width: 35px;
}